







#toppart
{
  position: sticky;
  top: 0;
  z-index: 2;
    
}
#header{
    position: sticky;
    top: 0;
    z-index: 2;
}

#our{
    display: flex;
    padding-top: 20px;
    font-size: 50px;
    font-weight: 800;
    color: #1a1616;
    padding-left: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}
#toplogo{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#cardData{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    gap: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 20px;
    
    border: none;
    cursor: pointer;   
    


    
}

